.logon-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;  /*alinha verticalmente ao centro*/
    justify-content: space-between;
    /*justify-content: center;  alinha horizontalmente ao centro */
    
}

.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form{
    margin-top: 100px;
}

.logon-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}

.logoImg{
    width: 35vw;
    height: 9vw;
    margin-bottom: -4vw;
    margin-left: -8vw;
    display: flex;
}

.ilustration{
    width: 60vw;
    height: 44vw;
}

